playground/Mac_Instructions_BuildingOpenPose/pose_iter_102000.caffemodel
playground/Mac_Instructions_BuildingOpenPose/pose_iter_116000.caffemodel
playground/Mac_Instructions_BuildingOpenPose/pose_iter_584000.caffemodel