playground/Mac_Instructions_BuildingOpenPose/pose_iter_102000.caffemodel
playground/Mac_Instructions_BuildingOpenPose/pose_iter_116000.caffemodel
playground/Mac_Instructions_BuildingOpenPose/pose_iter_584000.caffemodel
playground/DataFusionMobile/

playground/openpose

documentation /Improving functional performance and muscle power 4-to-6 months after anterior cruciate ligament reconstruction.pdf

playground/
